<h2>Rick and Morty Characters</h2>

<div *ngIf="errorMessage">
  {{errorMessage}}
</div>

<div class="card-deck">
    <div *ngIf="characters.length > 0" class="row row-cols-1 row-cols-md-4 g-4">
        <div *ngFor="let character of characters" class="col mb-4">
            <div class="card" style="width: 18rem;">
                <img [src]="character.image" class="card-img-top" alt="{{ character.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ character.name }}</h5>
                    <p class="card-text"> {{ character.status }} - {{ character.species }} </p>
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
    </div>
</div>

<p *ngIf="characters.length == 0 && !errorMessage"> Loading...</p>
